.question-view {
  display: flex;
  flex-direction: row;
}

.categories-list {
  flex-basis: 25%;
  flex-shrink: 2;
}

.categories-list > ul {
  border-right: 1px solid #4b9cffa3;
  border-radius: 8px;
}

.categories-list > ul > li {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 75%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  box-shadow: 2px 2px 5px 0px #00000057;
  border-radius: 12px;
  text-align: left;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.Question {
  font-size: 21px;
  width: 100%;
  text-align: center;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 5px 0px #00000057;
  color: black;
  padding: 3px 5px;
  margin-left: 0px !important;
  border: 1px solid #0073ff50;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;
}

.show-answer:hover {
  background-color: rgba(40, 102, 236, 0.678);
  color: rgb(255, 255, 255);
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
  cursor: pointer;
}

img.delete:hover {
  transform: scale(1.1);
}